/bin/
/config/
/public/
/templates/
/tests/
/translations/
/var/
/vendor/
/.idea/
composer.lock
symfony.lock
phpunit.xml
.phpunit
.phpunit.result.cache
/tests/bootstrap.php
phpunit.xml.dist
/.env
/.env.test
/.env.local
/docker-compose.yml
/.cache/
/.config/
/.local/
